extends layout 

block content 

    h1=title 
    if error    
        h3 #{error}

    form(action="", method="post") 
        label(for="username") Username: 
        input(type="text" name="username" placeholder="username")
        label(for="password") Password: 
        input(type="password" name="password" placeholder="password")
        button(type="submit") Login  

    h2 Not registered?
    a(href="/sign-up") Sign-up 