extends layout

block content 

    h1=title 

    form(action="", method="post")
        label(for="secret_password") Enter the secret passcode: 
        input(type="password" name="secret_password")
        button(type="submit") Submit

    a(href="/") Return home 

    if error 
        h3(style="color:red") #{error}